<div class="form-left" style="float: left;">
    <h2>Giải Phương Trình Bậc Nhất</h2>
<form asp-action="Index">
    <p>
        <label for="">Hệ số A:</label>
        <input type="text" name="hesoA">
    </p>
    <p>
        <label for="">Hệ số B:</label>
        <input type="text" name="hesoB">
    </p>
    <p>
        <input type="Submit" value="Giải Phương Trình">
    </p>
</form>
<h2>@ViewBag.thongBao</h2>
</div>
<div class="form-right" style="float: right;">
    <h2>Giải Phương Trình Bậc Hai</h2>
    <form asp-action="Index">
        <p>
        <label for="">Nhập số a:</label>
        <input type="text" name="a">
    </p>
    <p>
        <label for="">Nhập số b:</label>
        <input type="text" name="b">
    </p>
    <p>
        <label for="">Nhập số c:</label>
        <input type="text" name="c">
    </p>
    <p>
        <button type="submit">Giải Phương Trình</button>
    </p>
    </form>
    <h2>@ViewBag.ketqua</h2>
</div>