@{
    ViewData["Title"] = "Book Store";
}

<h2 style="text-align: center;">Book Store</h2>

<p style="color: red; font-size: 20px; text-align: center;"><strong>Book</strong> - illuminating the future</p>