<h2>Danh Sách Sinh Viên</h2>
<hr>
<table class="table border">
    <tr>
        <tr>
            <laber>ID</laber>
        </tr>
        <tr>
            <label>Name</label>
        </tr>
        <tr>
            <laber>Email</laber>
        </tr>
        <tr>
            <laber>Age</laber>
        </tr>
    </tr>
@foreach (var item in ViewData["Student"] as List<Student>)
{
    <tr>
        <td>@item.StudentID</td>
        <td>@item.StudentName</td>
        <td>@item.StudentEmail</td>
        <td>@item.StudentAge</td>
    </tr>
}
</table>
</hr>